<app-network></app-network>
<ion-tabs>

  <ion-tab-bar class="pb-0" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="reader"></ion-icon>
<!--      <ion-label>Order</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
<!--      <ion-label>Search</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-badge *ngIf="cartItems.length > 0" color="secondary">{{cartItems.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
<!--      <ion-label>cart</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="heart"></ion-icon>
<!--      <ion-label>Favorites</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
<!--      <ion-label>Account</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
