ion-content ion-toolbar {
  --background: translucent;
}

.rect-tabs {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.card {
  height: 150px;
  width: 180px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 15px;
  .text-container {
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    left: 0;
    right: 0;
  }
}
